# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- List some open-source development environment tools
- Introduce arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

For Python:
1. TensorFlow
2. Seaborn
3. Keras
4. Pandas
5. PyTorch
6. Matplotlib
7. NumPy
8. Scikit-Learn
9. SciPy
10. Statsmodels

For R:
1. plotly
2. caret
3. dplyr
4. ggplot
5. stringr
6. tidyr
7. shiny

For Scala:
1. BigDL
2. Vegas
3. Breeze

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# Addition 
5+9

14

In [8]:
# Multiplication
4*2

8

In [9]:
# Subtraction
3-1

2

In [10]:
# Division
6/3

2.0

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+6

18

In [12]:
# This will convert 200 minutes to hours by diving by 60
a=2000
b=60
c=a/b
print(c)

33.333333333333336

## Author
Hemant Kumar